<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
  bootstrap="testing/unit/bootstrap.php"
  
>
  <testsuites>
    <testsuite name="Primalinx Unit Tests">
      <directory>testing/unit</directory>
    </testsuite>
  </testsuites>
   <php>
        <var name="DB_HOST" value="localhost" />
        <var name="DB_USER" value="jason" />
        <var name="DB_PASSWD" value="dogmeat" />
        <var name="DB_DBNAME" value="xyz" />
    </php>
  <!--
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="coverage.xml"/>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
  </logging>
  -->
</phpunit>
